@import 'reset.scss';
@import 'variables.scss';
@import 'type.scss';
@import 'layout.scss';
@import 'normalize.scss';

html,
body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  font-family: 'Lato', sans-serif;
}

p {
  margin: 0;
}

img[lazy='loading'] {
  opacity: 0;
}
img[lazy='error'] {
  opacity: 1;
}
img[lazy='loaded'] {
  transition: all 200ms ease;
  opacity: 1;
}
